
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 40px;
}

.nav-logo p {
  font-size: 25px;
  font-weight: 500;
  color: var(--orange);
}

.nav-logo p::first-letter {
  font-size: 30px;
  font-weight: 400;
  color: var(--orange);
}

.navbar .list-itemm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
}

.navbar .list-itemm li .link {
  padding: 5px;
  font-size: 16px;
  text-transform: capitalize;
}

.navbar .list-itemm li .link:hover {
  border-bottom: 2px solid var(--orange);
  border-top: 2px solid var(--orange);
  border-radius: 10px;
  color: var(--orange);
}


/* i am new branch code */

/* i am olg branch code */

/* i am first branch */
